
        <div class="section section-white">
	    	<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h3>Description	</h3>
						<p>
						A smart time management. This system will help you manage the task log so you can complete each task in your life, to always stay informed, know what to do at any moment, to determine the effective time for all meetings, and all this with a minimum effort so you can get more in life!						
						</p>
						<h3>Wide range of services</h3>
						<p>
							This system is generic and provides services to various organizations, once you've joined a new source, you will get all tasks and updates your personal diary
						</p>
					</div>
					<div class="col-md-6">
						<div class="video-wrapper">
							<iframe width="555" height="350" src="https://www.youtube.com/embed/kji592jhlVM" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section">
	    	<div class="container">
	    		<h2>Our Work</h2>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="img/portfolio1.jpg" alt="keeping up to date"></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">System Service</li>
									<li>Stay informed about each event automatically everywhere</li>
									<li>Click here for more information</li>
									<li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="img/portfolio2.jpg" alt="Project Name"></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">System Service</li>
									<li>Availability meetings graph</li>
									<li>Click here for more information</li>
									<li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="img/portfolio3.jpg" alt="Project Name"></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">System Service</li>
									<li>Smart algorithm to determine the priority tasks and calendar management</li>
									<li>Click here for more information</li>
									<li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="img/portfolio4.jpg" alt="Project Name"></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">System Service</li>
									<li>Simple ergonomics</li>
									<li>Click here for more information</li>
									<li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="img/portfolio5.jpg" alt="Project Name"></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">System Service</li>
									<li>Organizing a group for a common goal</li>
									<li>Click here for more information</li>
									<li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="img/portfolio6.jpg" alt="Project Name"></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">System Service</li>
									<li>Asynchronous data base</li>
									<li>Click here for more information</li>
									<li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Testimonials -->
	    <div class="section">
			<div class="container">
				<h2>Happy Clients</h2>
				<div class="row">
					<!-- Testimonial -->
					<div class="testimonial col-md-4 col-sm-6">
						<!-- Author Photo -->
						<div class="author-photo">
							<img src="img/user1.jpg" alt="Author 1">
						</div>
						<div class="testimonial-bubble">
							<blockquote>
								<!-- Quote -->
								<p class="quote">
		                            "In this system I can determine football games with my classmates."
                        		</p>
                        		<!-- Author Info -->
                        		<cite class="author-info">
                        			- Dani din,<br>student at Jerusalem College of Engineering  <a href="#">Some Company</a>
                        		</cite>
                        	</blockquote>
                        	<div class="sprite arrow-speech-bubble"></div>
                        </div>
                    </div>
                    <!-- End Testimonial -->
                    <div class="testimonial col-md-4 col-sm-6">
						<div class="author-photo">
							<img src="img/user5.jpg" alt="Author 2">
						</div>
						<div class="testimonial-bubble">
							<blockquote>
								<p class="quote">
		                            "Since I use the system I can better establish study groups for exams"
                        		</p>
                        		<cite class="author-info">
                        			- Efrat Becker,<br>student at Jerusalem College of Engineering <a href="#">Some Company</a>
                        		</cite>
                        	</blockquote>
                        	<div class="sprite arrow-speech-bubble"></div>
                        </div>
                    </div>
					<div class="testimonial col-md-4 col-sm-6">
						<div class="author-photo">
							<img src="img/user2.jpg" alt="Author 3">
						</div>
						<div class="testimonial-bubble">
							<blockquote>
								<p class="quote">
		                            "Since I've been using this system, I can get more goals in my life and to make more time for myself."
                        		</p>
                        		<cite class="author-info">
                        			- Sarah Brosh,<br>Emergency room doctor <a href="#">Some Company</a>
                        		</cite>
                        	</blockquote>
                        	<div class="sprite arrow-speech-bubble"></div>
                        </div>
                    </div>
				</div>
			</div>
	    </div>
	    <!-- End Testimonials -->

	    <!-- Our Clients -->
	    <div class="section">
	    	<div class="container">
	    		<h2>Our sources</h2>
				<div class="clients-logo-wrapper text-center row">
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/azrial.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/JLM_Logo.png" alt="Client Name"></a></div>
				    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/google-calendar_logo.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/leomit.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/risoy.png" alt="Client Name"></a></div>
					<!--
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/facebook.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/google.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/hp.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/microsoft.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/mysql.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/sony.png" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/yahoo.png" alt="Client Name"></a></div>
					 -->	
				</div>
			</div>
	    </div>
	    <!-- End Our Clients -->