<div class="container">
    <div class="row">
        <div class="col-md-6 basic-login">
            <form>
                <fieldset>
                    <legend>Register</legend>
                    <br />
                    <label>Username: <input type="text" ng-model="user.user_username" /></label>
                    <br />  
                    <label>First name: <input type="text" ng-model="user.user_firstname" /></label>
                    <br />
                    <label>Last name: <input type="text" ng-model="user.user_lastname" /></label>
                    <br />
                    <label>Email: <input type="email" ng-model="user.user_email" /></label>
                    <br />
                    <label>Phone number: <input type="number" ng-model="user.user_phone" /></label>
                    <br />
                    <label>TZ: <input type="text" ng-model="user.user_tz" /></label>
                    <br />
                    <label>password: <input type="password" ng-model="user.user_password" /></label>
                    <br />
                    <button class="btn" type="submit" ng-click="Register()">Register!</button>
                    <br />
                    <output>
                        <span ng-show="Message">
                            <label class="label label-success">
                                {{Message}}

                            </label>
                            <a href="#/login">Click here to login</a>
                        </span>
                        <label class="label label-danger">{{errorMessage}}</label>
                    </output>
                </fieldset>
                Don't have an account yet? <a href="#/register">click to register</a>
            </form>
        </div>
    </div>
</div>