<table class="events-list">
	<tr ng-repeat="source in sourcesList">
	    <td>
	    	<div class="event-date">
	    		<div class="event-day">{{source.day}}</div>
	    		<div class="event-month">{{source.month}}</div>
	    	</div>
	    </td>
	    <td>
	    	{{source.desc}}
	    </td>
	    <td class="event-venue hidden-xs">
			<i class="icon-map-marker"></i>{{source.area}}</td>
	    <td class="event-price hidden-xs">{{source.price}}</td>
	    <td>
			<a href="" class="btn btn-sm event-more" ng-class="source.buttonClass" ng-click="source.buttonClass=btn-blue ">
				{{source.button}}	
			</a>
		</td>
	</tr>
</table>