<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- This key is for Application Insights resource 'SmartCalendar.Client.Web' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>548696f9-bbd9-4221-bc70-46adc89c4498</InstrumentationKey>
</ApplicationInsights>